#root {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  grid-gap: 2rem;
  background: #054560;
  border: 0;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  background: #054560;
}



.article {
  width: 100%;
  background: #ECEFF1;
  border-radius: 4px;
  overflow: hidden;
  font: 12px/1.1 system-ui, sans-serif;
  padding-left: 28px;
  padding-bottom:20px
  }

a {
    text-decoration: none;
    color: #054560;
    }

  h2 {
    margin: 0;

  }

  #openlink {
    background-color: #0583b8;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px;
    position: relative;
    top: 15px;
    outline:none;


  }
  #openlink:hover {
    background-color: #054560;
  }
