.topbar {
  font-family: sans-serif;
  color: white;
  padding: 25px;
  font-size: 45px;
  background-color: #ea5b21;
  position: relative;
  left: -21px;
  top: -21px;
  margin: 0;
  overflow: hidden;
  width: 100%;

}

#sharebut {
  position: absolute;
  right: 20px;
  color: white;
  border: none;
  outline:none;
  background-color: #0583b8;
  border-radius: 6px;
  padding: 8px;

}
#sharebut:hover {
  background-color: #054560;
}

.androidapk {
  background-color: #e4e4e4;
  padding:15px;
  border-radius: 6px;
}
.pwa {
  background-color: #e4e4e4;
  padding:15px;
  border-radius: 6px;
}

.windowsexe {
  background-color: #e4e4e4;
  padding:15px;
  border-radius: 6px;
  border-widht:px;
}

.github {
  background-color: #e4e4e4;
  padding:15px;
  border-radius: 6px;
}
.bordi {
  padding: 15px
}
#downloadbut {
  border-radius: 6px;
  background-color: #0583b8;
  color: white;
  padding: 8px;
  border: none;
  outline:none;

}
#downloadbut:hover {
  background-color: #054560;
}

.buttonstyle {
  border-radius: 6px;
  background-color: #0583b8;
  color: white;
  padding: 8px;
  border: none;
  outline:none;
}

.buttonstyle:hover {
  background-color: #054560;
}
